.qrCodeContainer {
  position: relative;
  padding: 0px;
  border: 14px solid var(--background);
  /*should equal .borderwrap's border-radius minus .borderwrap's padding*/
  border-radius: 24px;
  background-color: var(--background);
}

.borderWrap {
  background: var(--gradient-1);
  padding: 7px;
  border-radius: 32px;
  background-clip: padding-box;
}

.qrCodeImage {
  padding: 0px;
  margin: 0px;
}

.scanLearnMoreButton {
  font-family: 'PP Fraktion Sans';
  font-style: normal;
  font-weight: 560;
  font-size: 12px;
  line-height: 18px;

  color: var(--primary-variant);

  flex: none;
  order: 4;
  flex-grow: 0;
  background: transparent;
  border: none;
}

.providerImg {
  position: absolute;
  border-radius: 8px;
  width: 35px;
  height: 35px;
  transform: translate(-50%, -50%);
}

.connectingFrom {
  left: 0%;
}

.connectingTo {
  left: 100%;
}

.connectingDisplay {
  position: relative;
  border-top: 2px dashed white;
  height: 12px;
  margin: 30px;
  margin-top: 6px;
}
