.providerImg {
  border-radius: 8px;
  width: 35px;
  height: 35px;
  margin: 24px;
}

.qrCodeContainer {
  padding: 20px;
  border: 8px solid linear-gradient(#10a6d6 0%, #5d43ff 50%, #ff43d4 100%);
}

.scanLearnMoreButton {
  /* width: 61px;
  height: 18px; */

  font-family: 'PP Fraktion Sans';
  font-style: normal;
  font-weight: 560;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */

  color: #7761ff;

  /* Inside auto layout */

  flex: none;
  order: 4;
  flex-grow: 0;
  background: transparent;
  border: none;
}
