.systeminfo {
  hr {
    width: 100%;
    background-color: var(--text-default);
  }

  .logo {
    height: 32px;
    width: 32px;
  }

  .app-icon {
    display: flex;
    height: 32px;
    width: 32px;
  }

  .fillWithThemeColor {
    path {
      fill: var(--text-default) !important;
    }
  }

  .MuiPaper-root {
    color: var(--text-default);
    background-color: var(--background);
  }

  .MuiTypography-root {
    font-family: var(--text-xl);
  }

  .MuiLinearProgress-bar {
    background-color: var(--success);
  }

  .copyToClipboardButton {
    margin: var(--space-2lg) 0;
  }

  .showSystemSpecifications {
    font-size: initial;
  }
}

.gridItemContainer {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}

.systeminfo-title {
  font-size: var(--text-3xl);
  font-weight: var(--semibold);
  padding-top: var(--space-xs);
  padding-bottom: var(--space-lg);
}

.osinfo,
.softwareinfo {
  display: flex;
  align-items: center;

  > div {
    flex-direction: column;
    justify-content: center;
  }
}
