.walletOption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-sm);
  gap: var(--space-md);
  margin: var(--space-sm) auto;

  width: calc(100%);

  background: var(--color-neutral-700);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
  border: transparent;
  border-radius: 6px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;

  border-radius: 15px;
  z-index: 2;
  position: relative;
  max-width: 500px;
  text-align: left;
}

.optionContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: var(--space-md);

  flex: none;
  order: 0;
  flex-grow: 0;
  flex-shrink: 1;
}

div.walletOptionIcon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: var(--space-3xs);

  border-radius: 41px;

  flex: none;
  order: 0;
  flex-grow: 0;

  width: 48px;
  height: 48px;

  position: relative;
}

.walletOptionContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  justify-content: center;

  flex: none;
  order: 1;
  flex-grow: 0;
  background: transparent;
  background-color: transparent;
  border-color: transparent;
  flex-shrink: 1;
}

.walletOptionTitleText {
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: -1px 0px;
}

.walletOptionSubtext {
  color: var(--color-neutral-200);

  flex: none;
  order: 1;
  flex-grow: 0;
  overflow-wrap: break-word;
  margin: 0px;
}

.walletOptionArrow {
  width: 6px;
  height: 12px;

  flex: none;
  order: 1;
  flex-grow: 0;
  flex-shrink: 0;
  height: 14px;
  position: relative;
}
