.walletOption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-sm);
  gap: var(--space-md);
  margin-top: var(--space-sm);
  margin-bottom: var(--space-sm);

  width: calc(100%);

  background: var(--background-secondary);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
  border: transparent;
  border-radius: 6px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  cursor: pointer;
}

.optionContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: var(--space-md);

  height: 40px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

div.walletOptionIcon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: var(--space-3xs);

  border-radius: 41px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

img.walletOptionIcon {
  width: 36px;
  height: 36px;
}

.walletOptionContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  justify-content: center;

  flex: none;
  order: 1;
  flex-grow: 0;
  background: transparent;
  background-color: transparent;
  border-color: transparent;
}

.walletOptionTitleText {
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: -1px 0px;
}

.walletOptionSubtext {
  color: #a8a8a8;

  flex: none;
  order: 1;
  flex-grow: 0;
  white-space: nowrap;
  margin: 0px;
}

.walletOptionArrow {
  width: 6px;
  height: 12px;

  flex: none;
  order: 1;
  flex-grow: 0;
}
