.walletOption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  gap: 16px;
  margin-top: 12px;
  margin-bottom: 12px;

  width: calc(100%);
  height: 64px;

  background: var(--background-secondary);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
  border: transparent;
  border-radius: 6px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  cursor: pointer;
}

.optionContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;

  height: 40px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

div.walletOptionIcon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 4.82px;

  width: 40px;
  height: 40px;

  border-radius: 41px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

img.walletOptionIcon {
  width: 40px;
  height: 40px;
}

.walletOptionContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  justify-content: center;

  flex: none;
  order: 1;
  flex-grow: 0;
  background: transparent;
  background-color: transparent;
  color: transparent;
  border-color: transparent;
}

.walletOptionTitleText {
  font-weight: 560;
  font-size: 14px;
  line-height: 21px;

  color: #ffffff;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: -1px 0px;
}

.walletOptionSubtext {
  font-weight: 560;
  font-size: 10px;
  line-height: 15px;

  color: #a8a8a8;

  flex: none;
  order: 1;
  flex-grow: 0;
  white-space: nowrap;
  margin: 0px;
}

.walletOptionArrow {
  width: 6px;
  height: 12px;

  flex: none;
  order: 1;
  flex-grow: 0;
}
