.welcomeModal {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 18px 32px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: var(--color-neutral-800);
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  z-index: 2100;

  text-align: left;
}

.welcomeModal body {
  margin-bottom: var(--space-lg);
}

.welcomeModal > svg {
  margin-bottom: var(--space-md-fixed);
}

.regularModal {
  width: 600px;
}

.wideModal {
  width: 880px;
}

.blurBackground {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(2px);
  z-index: 2100;
}
