.welcomeModal {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px 32px;
  gap: 18px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: #121212;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  z-index: 100;
}

.welcomeTitle {
  /* width: 154px;
  height: 21px; */

  /* font-family: 'PP Fraktion Sans'; */
  /* font-style: normal; */
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  text-transform: uppercase;

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.welcomeTitleFrame {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;

  width: 100%;
  /* height: 21px; */

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.backArrow {
  width: 6px;
  height: 12px;

  background: transparent;
  border: transparent;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  cursor: pointer;
}

.closeButton {
  width: 12px;
  height: 12px;

  background: transparent;
  border: transparent;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
  cursor: pointer;
}

.disableButton {
  visibility: hidden;
}

.contentContainer {
  padding-left: 15%;
  padding-right: 15%;
}
