.welcomeModal {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 18px 32px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 840px;

  background: var(--color-neutral-800);
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  z-index: 101;

  text-align: left;
}

.welcomeModal body {
  margin-bottom: var(--space-lg);
}

/* .welcomeModal Button {
  align-self: center;
} */

.closeButton {
  width: 12px;
  height: 12px;

  background: transparent;
  border: transparent;

  flex: none;
  order: 2;
  flex-grow: 0;
  cursor: pointer;
}

.disableButton {
  visibility: hidden;
}

.blurBackground {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(2px);
  z-index: 100;
}
