.textInputFieldWrapper.withRightButton {
  grid-template-areas: 'label label' 'input button';
  grid-template-columns: auto min-content;
  grid-column-gap: var(--space-xs-fixed);
}

.textInputFieldWrapper.withRightButton .rightButton {
  grid-area: button;
}

.textInputFieldWrapper .smallMessage {
  margin: var(--space-md) 0;
}
