.textInputFieldWrapper.withRightButton {
  display: grid;
  grid-template-areas: 'input after';
  grid-template-columns: auto min-content;
  grid-column-gap: var(--space-xs-fixed);
}

.textInputFieldWrapper.withRightButton .afterInput {
  grid-area: after;
}

.textInputFieldWrapper .smallMessage {
  margin: var(--space-md) 0;
}
