.advancedSettingsTitle {
  font-size: var(--text-3xl);
  font-weight: var(--semibold);
  padding-top: var(--space-xs);
  padding-bottom: var(--space-lg);
}

.footerFlex {
  display: flex;
  justify-content: flex-start;
  gap: var(--space-md);
  margin: var(--space-lg) 0;
}
