.webview {
  width: 620px;
  height: 490px;
}

.root {
  max-width: 600px;
}

.emailRoundedIcon {
  background: var(--color-primary-500);
}

.icon {
  fill: var(--color-neutral-100);
}

.manualClose {
  width: fit-content;
  margin-top: var(--space-2lg);
  margin-left: auto;
  margin-right: auto;
}
