.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: 0;
  margin-top: var(--space-xl);
  gap: var(--space-xs);
}

.title {
  color: var(--color-neutral-100);
  margin-bottom: var(--space-xs);
}

.buttonContainer button {
  min-width: 120px;
  border-radius: var(--space-xs);
}

.bulletPointContainer {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
}

.bulletPointContainer > svg {
  padding-right: var(--space-xs);
  width: 28px;
  height: 28px;
}

.bulletPointContainer > body:first-word {
  font-size: var(--body-sm);
}

.bullets {
  color: var(--color-neutral-100);
  font-weight: var(--bold);
  margin-bottom: var(--space-xs);
}

.titleSm {
  color: var(--color-neutral-100);
  font-size: var(--body);
  font-weight: var(--bold);
  margin-bottom: var(--space-lg);
}

.bullets {
  color: var(--color-neutral-400);
}

.marginBottomLg {
  margin-bottom: var(--space-lg);
  color: var(--color-neutral-400);
}
.marginBottomSm {
  margin-bottom: var(--space-xs);
}

.privacyCaption {
  color: var(--color-neutral-400);
  margin-top: var(--space-lg);
}

.privacyCaption > a {
  color: var(--color-primary-200);
}

.privacyCaption > a:hover {
  color: var(--color-primary-300);
  transition: 0.2s;
}
