[submodule "src/backend/hyperplay-extension-helper"]
	path = src/backend/hyperplay-extension-helper
	url = https://github.com/HyperPlay-Gaming/hyperplay-extension-helper.git
[submodule "src/backend/hyperplay-overlay"]
	path = src/backend/hyperplay-overlay
	url = https://github.com/HyperPlay-Gaming/hyperplay-overlay.git
