.title {
  align-self: center;
  margin-bottom: var(--space-sm);
}

.description {
  align-self: center;
  text-align: center;
  color: var(--color-neutral-200);
  margin-bottom: var(--space-sm);
}

.errorMessage {
  margin: 0px auto;
}
