.importOptionsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 112px;
  gap: 16px;
  margin: var(--space-sm) auto calc(2 * var(--space-sm));
}

.title {
  align-self: center;
  margin-bottom: var(--space-sm);
}

.description {
  align-self: center;
  text-align: center;
  color: var(--color-neutral-200);
  margin-bottom: var(--space-sm);
}

.errorMessage {
  margin: 0px auto;
}
