.introjs-tooltip {
  background: #222530;
  color: var(--text-default);
  border-radius: var(--space-xs);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--accent);
  min-width: 320px;
}

.introjs-tooltiptext {
  font-size: var(--text-xl);
  line-height: 1.5;
  padding: var(--space-sm);
}

.introjs-button {
  border: 2px solid var(--stroke-brand-strong, #ab82fe);
  border-radius: var(--space-sm, 8px);
  background: var(--Fill-Brand-strong, #6b2adc);
  color: var(--text-strong, #fff);
  text-align: center;
  text-shadow: none;

  /* Text/Button-Sm */
  font-family: var(--font-family-body, Poppins);

  /* Shadow/Raised */
  box-shadow: 0px 2px 4px -2px rgba(124, 58, 237, 0.08),
    0px 4px 8px -2px rgba(124, 58, 237, 0.04);

  &:focus,
  &:hover {
    background-color: var(--primary);
    color: var(--text-title);
  }
}

.introjs-prevbutton {
  color: var(--Text-Brand, #ab82fe);
  background: rgba(255, 255, 255, 0.01);
  box-shadow: 0px 2px 4px -2px rgba(124, 58, 237, 0.08),
    0px 4px 8px -2px rgba(124, 58, 237, 0.04);
}

.introjs-bullets ul li a {
  background-color: var(--background-lighter);

  &.active {
    background-color: var(--primary);
  }
}

.introjs-arrow {
  &.top,
  &.top-right,
  &.top-middle {
    border-bottom-color: var(--background-secondary);
  }

  &.bottom,
  &.bottom-right,
  &.bottom-middle {
    border-top-color: var(--background-secondary);
  }

  &.left {
    border-right-color: var(--background-secondary);
  }

  &.right {
    border-left-color: var(--background-secondary);
  }
}

.introjs-skipbutton {
  color: var(--text-default);
}
