.itemContents {
  color: var(--color-neutral-300);
}

.menuItem {
  padding: var(--space-xs) var(--space-sm);
  &:hover {
    opacity: 1;
  }
}

.menuItem[data-hovered='true'] {
  background-color: var(--color-neutral-500);
}

.menuItem[data-hovered='true'] .itemContents {
  color: var(--color-neutral-100);
}

.menuDropdown {
  background-color: var(--color-neutral-600) !important;
  border: none;
  padding: var(--space-sm) var(--space-xs);
  border-radius: var(--space-xs);
}

.logOut {
  color: var(--color-secondary-200);
}

.menuLabel {
  color: var(--color-neutral-400);
  padding: var(--space-xs) var(--space-sm);
}

.divider {
  margin: var(--space-xs) auto;
}
