@import '@hyperplay/ui/utilities/_variables.scss';

.tableContainer {
  background-color: var(--color-neutral-800);
  overflow-y: hidden;
}

.questSelectedLayout {
  @include for-big-desktop-up {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
