.rejectedImg {
  width: 200px;
  height: 200px;
}

.rejectedCancelButton {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 18px;
  gap: 10px;

  border: 1px solid #6900ff;
  border-radius: 7.59624px;
  color: #6900ff;

  flex: none;
  order: 0;
  flex-grow: 1;
  cursor: pointer;
  background: none;
}

.rejectedRetryButton {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 18px;
  gap: 10px;

  background: #6900ff;
  border-radius: 7.59624px;
  color: white;

  flex: none;
  order: 1;
  flex-grow: 1;
  cursor: pointer;
}

.actionButtonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  flex: none;
  order: 2;
  flex-grow: 0;
}

.rejectedSubtext {
  margin-top: 20px;
  margin-bottom: 30px;
}
