.mmContainer {
  position: absolute;
  left: 250px;
  top: 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  z-index: 100000;
}

@mixin mmWindow {
  width: 360px;
  height: 620px;
  position: relative;
  display: flex;
}

.mmPopup {
  @include mmWindow();
}

.mmNotification {
  @include mmWindow();
}

.mmNotification {
  width: 360px;
  height: 620px;
  position: relative;
  display: flex;
}
