.mmContainer {
  position: absolute;
  left: 250px;
  top: 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  z-index: 100000;
}

@mixin mmWindow {
  font-family: var(--secondary-font-family);
  border-radius: var(--space-3xs);
  color: var(--text-default);
}

.mmPopup {
  @include mmWindow();
}

.mmNotification {
  @include mmWindow();
}
