input[type='range'] {
  width: 100%;
  max-width: 513px;
}

.zoomHint {
  display: flex;
  justify-content: space-between;
  width: 103%;
  max-width: 522px;
}

.Accessibility .setting {
  display: grid;
}

.Accessibility label {
  justify-self: flex-start;
}

.Accessibility label,
.Accessibility select,
.Accessibility option {
  font-size: var(--text-lg);
}

.Accessibility .zoomHint span {
  font-size: var(--text-md);
}

.Accessibility h1.headerTitle {
  margin-left: 0px;
}

.zoomRangeLabel {
  display: block;
}

.rangeWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.fonts {
  display: flex;
  margin: var(--space-xs) 0;
}
