.qrCodeContainer {
  position: relative;
  padding: 0px;
  border: 14px solid #121212;
  /*should equal .borderwrap's border-radius - .borderwrap's padding*/
  border-radius: 24px;
  background-color: #121212;
}

.borderWrap {
  background: linear-gradient(82deg, #4126e8, #ea1aba, #10a6d6);
  padding: 7px;
  border-radius: 32px;
  background-clip: padding-box;
}

.qrCodeImage {
  padding: 0px;
  margin: 0px;
}
.downloadCancelButton {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 18px;
  gap: 10px;

  /* width: 96px; */
  /* height: 34px; */

  border: 1px solid #6900ff;
  border-radius: 7.59624px;
  color: #6900ff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
  cursor: pointer;
  background: none;
}

.downloadConnectButton {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 18px;
  gap: 10px;

  /* width: 96px;
  height: 34px; */

  background: #6900ff;
  border-radius: 7.59624px;
  color: white;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;
  cursor: pointer;
}

.actionButtonsContainer {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  /* width: 200px;
  height: 34px; */

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}
