.qrCodeContainer {
  position: relative;
  padding: 0px;
  border: 14px solid var(--background);
  /*should equal .borderwrap's border-radius - .borderwrap's padding*/
  border-radius: 24px;
  background-color: var(--background);
}

.borderWrap {
  background: var(--gradient-1);
  padding: 7px;
  border-radius: 32px;
  background-clip: padding-box;
}

.qrCodeImage {
  padding: 0px;
  margin: 0px;
}
.downloadCancelButton {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 18px;
  gap: 10px;

  border: 1px solid var(--primary);
  border-radius: 7.59624px;
  color: var(--primary);

  flex: none;
  order: 0;
  flex-grow: 1;
  cursor: pointer;
  background: none;
}

.downloadConnectButton {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 18px;
  gap: 10px;

  background: var(--primary);
  border-radius: 7.59624px;
  color: white;

  flex: none;
  order: 1;
  flex-grow: 1;
  cursor: pointer;
}

.actionButtonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  flex: none;
  order: 2;
  flex-grow: 0;
}
