.tabsList {
  display: flex;
  align-items: stretch;
  margin-bottom: var(--space-xl);

  > * {
    margin: var(--space-xs) 0px;
  }
}

.sortByDropdown {
  display: flex;
  margin-left: var(--space-lg);
  margin-right: var(--space-lg);
}

.gridListButton {
  padding: calc(0.75 * var(--space-sm));
}

.dropdownButton {
  width: 340px;
}

.dropdownContainer {
  display: flex;
}
