.Sidebar {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: sidebar;
  height: calc(90vh - 100px);
  font-family: var(--secondary-font-family);
  background: var(--color-neutral-800);
  width: 80px;
  margin: var(--space-xl-fixed) var(--space-xl-fixed) calc(2 * var(--space-md))
    var(--space-md);
  border-radius: var(--space-sm);
  border: 1px solid var(--color-stroke-01);
  box-shadow: -10px 0px 58px rgba(145, 35, 255, 0.2);
  padding-bottom: var(--space-md);
  overflow-y: auto;
}

.Sidebar > div:first-child {
  margin: 0 0 auto 0;
}
