.Sidebar__section {
  display: flex;
  width: 100%;
  height: fit-content;
  font-family: var(--secondary-font-family);
  flex-direction: column;
}

.Sidebar__item {
  display: flex;
  width: 100%;
  aspect-ratio: 1/1;
  padding: var(--space-xs) var(--sidebar-horizontal-padding);
  border: none;
  background: none;
  cursor: pointer;
  font-size: var(--text-md);
  color: var(--color-neutral-300);
  transition: color 250ms;
  text-align: start;
  font-family: var(--primary-font-family);
  border-radius: 0;
  align-items: center;
  justify-content: center;
  font-weight: var(--semibold);
}

.Sidebar__item:focus-visible {
  outline: 2px solid var(--text-hover);
  outline-offset: -2px;
}

.Sidebar__item:hover {
  background-color: var(--navbar-active-background);
}

.Sidebar__item.active {
  color: var(--color-neutral-100);
}

.Sidebar__item.active.SidebarLinks__subItem {
  font-weight: var(--bold);
}

.currentDownloads {
  grid-area: utils;
  align-self: end;
  margin: 0 var(--space-3xs) var(--sidebar-vertical-padding)
    var(--sidebar-horizontal-padding);
}

.divider {
  height: 1px;
  opacity: 0.5;
  margin: var(--space-3xs) var(--space-xs);
  background-color: var(--divider);
}

.appVersion {
  grid-area: version;
  margin: 0 var(--space-3xs) var(--sidebar-vertical-padding)
    var(--sidebar-horizontal-padding);
  font-size: var(--text-sm);
}

.newReleases {
  grid-area: updates;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 var(--space-3xs) var(--space-sm) var(--sidebar-horizontal-padding);
  font-size: var(--text-sm);
}

.newReleases > a {
  color: var(--accent);
  transition: 300ms;
}

.newReleases > a:hover {
  color: var(--accent-overlay);
}

.Sidebar__item.active svg {
  fill: var(--color-neutral-100);
}

.resizer {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  z-index: 1;
  cursor: col-resize;
}
