.badge {
  background-color: var(--tertiary-01-100);
  color: var(--color-neutral-800);
  position: absolute;
  top: calc(-0.1 * var(--text-xs));
  right: calc(-0.3 * var(--text-xs));
  font-size: var(--text-xs);
  font-weight: var(--bold);
  border-radius: 1000000px;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: calc(1.3 * var(--text-xs));
}

.Sidebar {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: sidebar;
  height: 85.2vh;
  font-family: var(--secondary-font-family);
  background: var(--color-neutral-800);
  width: 80px;
  margin: 10px;
  border-radius: var(--space-sm);
  border: 1px solid var(--color-stroke-01);
  box-shadow: -10px 0px 58px rgba(145, 35, 255, 0.2);
  margin-top: var(--space-xl);
  margin-right: var(--space-xl);
  padding-bottom: var(--space-md);
}

.Sidebar > div:first-child {
  margin: 0 0 auto 0;
}
