.Sidebar {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: sidebar;
  height: calc(90vh - 100px);
  font-family: var(--secondary-font-family);
  background: var(--color-neutral-800);
  width: 80px;
  margin: var(--space-xl-fixed) var(--space-xl-fixed) calc(2 * var(--space-md))
    var(--space-md);
  border-radius: var(--space-sm);
  border: 1px solid var(--color-stroke-01);
  box-shadow: -10px 0px 58px rgba(145, 35, 255, 0.2);
  padding-bottom: var(--space-md);
  overflow-y: auto;
}

.Sidebar > div:first-child {
  margin: 0 0 auto 0;
}

.Sidebar::-webkit-scrollbar {
  width: 0px;
}

.sidebarContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.sidebarTourButtonWrapper {
  display: flex;
  justify-content: center;
  margin-top: auto;
  padding: var(--space-sm) 0;
}

.sidebarTourButton {
  margin-top: var(--space-md);
  background-color: var(--transparent);
  color: var(--text-default);
  font-weight: 500;
  text-align: center;
  transition: background-color 0.2s, color 0.2s;

  svg {
    width: 24px;
    height: 24px;
  }

  &:hover {
    background-color: var(--primary);
    color: var(--text-title);
  }
}
