.wineManagerListItem > .icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  align-self: center;
  flex-wrap: wrap;
  gap: var(--space-xs-fixed);
}

.wineManagerListItem > .icons > .material-icons.settings.folder {
  position: initial;
}

.wineManagerListItem > .icons > a > svg,
.wineManagerListItem > .icons > svg {
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
}

.wineManagerListItem {
  display: grid;
  grid-template-columns: 4fr 2fr 2fr 1fr;
  grid-template-areas: 'name date size action';
  margin-right: var(--space-xl-fixed);
  align-items: center;
  justify-items: start;
  position: relative;
  cursor: default;
  border-bottom: 1px solid var(--color-neutral-700);
  padding: var(--space-md-fixed) 0;
  min-height: var(--space-2xl);

  &:hover {
    background-color: var(--color-neutral-800);
  }
}

.wineManagerTitleList {
  grid-area: name;
  font-size: var(--text-md);
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wineManagerListItem > a {
  grid-area: cover;
  max-width: 15vh;
  width: 100%;
  height: 100%;
}

.wineManagerListItem > .icons > button {
  margin-left: 0;
  padding-left: 4px;
}

.wineManagerListDate {
  font-size: var(--text-sm);
  grid-area: date;
  color: var(--text-weak);
}

.wineManagerListSize {
  font-size: var(--text-sm);
  grid-area: size;
  color: var(--text-weak);
  font-weight: 500;
}

.react-contextmenu--visible {
  background-color: var(--background);
  padding: var(--space-md) var(--space-lg);
  border-radius: 6px;
  z-index: 99;
}

.react-contextmenu-item {
  color: var(--text-default);
  font-size: var(--text-sm);
  line-height: 26px;
  font-family: var(--secondary-font-family);
  cursor: pointer;
  text-align: left;
}

.react-contextmenu-item.disabled {
  color: var(--icon-disabled);
  cursor: initial;
}
