.root {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  column-gap: var(--space-2lg-fixed);
  row-gap: var(--space-lg-fixed);
  padding-bottom: var(--space-2lg-fixed);
  position: absolute;
  inset: 0;

  &.with-alert {
    grid-template-areas:
      'alert alert'
      'questTable questDetails';

    > &:nth-child(2) {
      grid-area: questTable;
    }
    > &:nth-child(3) {
      grid-area: questDetails;
    }
  }

  &.no-alert {
    grid-template-rows: 1fr;
  }
}

.alert {
  z-index: 4;
  grid-area: alert;
}
