.actionButton {
  font-weight: 560;
  font-size: 12px;
  line-height: 18px;

  color: var(--primary-variant);

  flex: none;
  order: 0;
  flex-grow: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  margin: 12px;
}

.loader {
  border: 16px solid var(--background-darker);
  border-top: 16px solid var(--primary);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  animation: spin 2s linear infinite;
  margin: auto;
}
