.actionButton {
  font-weight: 560;
  font-size: 12px;
  line-height: 18px;

  color: #7761ff;

  flex: none;
  order: 0;
  flex-grow: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  margin: 12px;
}
