.Dialog__content.settingsDialogContent {
  width: 65vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 800px;

  .log-box {
    width: fit-content;
    max-width: 80vw;
  }
}
