.gamePicture {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  min-height: 100vh;
}

.gamePicture::after {
  content: '';
  display: block;
  position: absolute;
  right: 0%;
  top: 0px;
  height: 100%;
  width: 100%;
}

.gamePicture > .gameImg {
  height: 100%;
  width: 100%;
  border-radius: 0;
  object-fit: cover;
}

.gamePicture > .gameLogo {
  position: absolute;
  bottom: 0;
  width: 70%;
  min-width: 140px;
}
