.playIcon {
  fill: var(--color-success-200);
  margin: 0px var(--space-md-fixed);
}

.pauseIcon {
  fill: var(--color-tertiary-600);
  margin: 0px var(--space-md-fixed);
}

.downloadIcon {
  fill: var(--color-tertiary-600);
}
