.navBar {
  height: 80px;
  background-color: var(--color-neutral-700);
  width: 100%;
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  padding: var(--space-md) var(--space-lg);
}

.navBar > :first-child {
  display: flex;
  align-items: center;
}

.navBar * {
  text-align: left;
}

.navBar > :last-child {
  display: flex;
  align-items: center;
  margin: 0 0 0 auto;
}

.iconButton {
  padding: var(--space-sm);
  background-color: var(--color-neutral-800);
  border: 1px solid var(--color-stroke-01);
  border-radius: 50%;
  margin: auto var(--space-3xs);
  height: fit-content;
  display: flex;
  justify-content: center;
}

.alphaBadge {
  background-color: var(--color-tertiary-700);
  padding: var(--space-3xs) var(--space-sm);
  border-radius: var(--space-xs);
  margin-left: var(--space-sm);
}

.hpLogo {
  margin-right: var(--space-xs);
}

.alphaCaption {
  text-align: center;
}
