.navBar {
  height: var(--top-navbar-height);
  background-color: var(--color-neutral-700);
  width: 100vw;
  grid-column: 1 / -1;
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 280px auto 100px;
  padding: var(--space-md) var(--space-lg);
  z-index: 100000;
}

.navBar > :first-child {
  display: flex;
  align-items: center;
}

.navBar * {
  text-align: left;
}

.navBar > :last-child {
  display: flex;
  align-items: center;
  margin: 0 0 0 auto;
}

.storeLinks {
  margin-left: -20%;
}

.iconButton {
  padding: var(--space-sm);
  background-color: var(--color-neutral-800);
  border: 1px solid var(--color-stroke-01);
  border-radius: 50%;
  margin: auto var(--space-3xs);
  height: fit-content;
  display: flex;
  justify-content: center;
  position: relative;
}

.versionBadge {
  background-color: var(--color-tertiary-700);
  padding: var(--space-3xs) var(--space-sm);
  border-radius: var(--space-xs);
  margin-left: var(--space-sm);
}

.hpLogo {
  margin-right: var(--space-xs);
}

.alphaCaption {
  text-align: center;
}

.badge {
  background-color: var(--tertiary-01-100);
  color: var(--color-neutral-800);
  position: absolute;
  top: calc(-0.1 * var(--text-xs));
  right: calc(-0.3 * var(--text-xs));
  font-size: var(--text-xs);
  font-weight: var(--bold);
  border-radius: 1000000px;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: calc(1.3 * var(--text-xs));
}
