/*TODO: use scss for this file*/

.SidebarLinks {
  grid-area: links;
  padding-top: var(--sidebar-vertical-padding);
  font-size: var(--text-lg);
}

.Sidebar__item.SidebarLinks__subItem {
  padding: var(--space-3xs) var(--sidebar-horizontal-padding) var(--space-3xs)
    var(--space-xl);
  font-size: var(--text-sm);
  line-height: 20px;
  white-space: break-spaces;
}

.Sidebar__item.SidebarLinks__subItem::before {
  content: '• ';
}

.SidebarLinks__subItem + .Sidebar__item:not(.SidebarLinks__subItem) {
  margin-top: 4px;
}

@media screen and (max-width: 730px) {
  .Sidebar__item.SidebarLinks__subItem {
    padding: var(--space-3xs) var(--sidebar-horizontal-padding) var(--space-3xs)
      var(--space-lg);
  }
}

.Sidebar__categoryTitle {
  padding: 0 var(--sidebar-horizontal-padding);
  color: var(--color-neutral-300);
  margin-top: var(--space-md);
}

.Sidebar.collapsed .Sidebar__categoryTitle {
  display: none;
}

.hyperplaySidebarLogoContainer {
  margin: 0 auto var(--sidebar-vertical-padding);
  text-align: center;
}

.Sidebar.collapsed .hyperplaySidebarLogoContainer {
  margin: 0 auto;
  padding: var(--space-xs) 0;
}

.hyperplaySidebarLogo {
  width: var(--hp-logo-sidebar-width);
}

.Sidebar__item.active.disabled,
.Sidebar__item.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.Tooltip {
  padding: var(--space-xs) var(--space-md);
  background: var(--color-neutral-600);
  color: var(--color-neutral-100);
  border-radius: var(--space-xs);
}
