.walletInfoContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: var(--space-xl);
}

.walletTextContainer {
  margin-left: var(--space-md);
}

.actionButtonContainer {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  justify-content: space-around;
}

.actionButtonContainer Button {
  border-radius: var(--space-sm);
  min-width: 171px;
}

.walletInfoScreen {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title {
  align-self: center;
  margin-bottom: var(--space-lg);
}

.caption {
  color: var(--color-neutral-300);
}

.infoTextCaption {
  color: var(--color-neutral-200);
}
