.offline-message {
  background: var(--color-neutral-800);
  padding: 0.5rem;
  color: var(--text-warning);
  display: grid;
  position: relative;
  z-index: 100003;

  span,
  button {
    grid-row: 1;
    grid-column: 1;
  }

  button {
    background: var(--color-neutral-800);
    border: transparent;
    &.hint-hover {
      justify-self: flex-end;
      align-self: flex-end;
    }
    &.ignore {
      text-decoration: underline;
    }
  }

  .retry-hint {
    display: none;
    position: absolute;
    top: 100%;
    right: 0px;
    width: 400px;
    background: var(--color-neutral-800);
    padding: 1rem;
    border: transparent;
  }

  .hint-hover:hover + .retry-hint {
    display: block;
  }
}
