@use './styles/colors';
@use './styles/buttons';
:root {
  @include colors.colorSystem;

  overflow-y: overlay;
  /* Effects */
  --blur-light: 4px;
  --blur-strong: 16px;
}

// Example breakpoint
// @media screen and (max-width: 800px) {
//   :root {
//     font-size: 16px;
//     --text-scale-ratio: 1.2;
//   }
// }

@media screen and (max-width: 1300px) {
  :root {
    font-size: 14px;
    --text-scale-ratio: 1.13;
    --space-unit-fixed: 14px;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  --scrollbar-width: 20px;
}

/* Hide scrollbar when webview is rendered so two scrollbars are not shown */
body .App:has(div.WebView) {
  --scrollbar-width: 0px;
}

/* Scrollbar*/
::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: 20px;
  background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  height: 40%;
  width: 8px;
  border: solid 6px transparent;
  box-shadow: inset 0 0 10px 10px var(--color-neutral-600);
  border-radius: 80px;
}

.App::-webkit-scrollbar-thumb {
  display: none;
}

::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 10px 10px var(--color-neutral-500);
}

.simple-keyboard {
  position: absolute;
  z-index: 10;
  bottom: 100%;
  left: 0px;
  right: 0px;
  background: var(--osk-background);
}

.smallInputInfo {
  font-size: var(--text-sm);
  align-self: flex-start;
  margin: var(--space-xs) 0 var(--space-3xs) var(--space-xs);
  color: var(--text-secondary);
}
