.welcomeContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 40px;
}

.closeButton {
  position: absolute;
  top: 15px;
  right: 15px;
}

.walletOptionsContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.walletOptionsContainer:last-child {
  margin-bottom: 0px;
}
