.welcomeContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 40px;
}

.closeButton {
  position: absolute;
  top: 15px;
  right: 15px;
}
.closeButton button {
  border: none;
}

.walletOptionsSection {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.walletOptionsSection:last-child {
  margin-bottom: 0px;
}

.walletOptionsSection > svg {
  margin-bottom: var(--space-md-fixed);
}

.walletConnectionsTitle {
  margin-bottom: var(--space-sm);
}

.connectWalletText {
  margin-bottom: var(--space-md);
}

.walletOptionsContainer {
  margin-bottom: auto;
}

.walletOptionsContainer > button:last-child {
  margin-bottom: 0px;
}

.detailsScreen {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hpLogo {
  max-width: 36px;
}
