.mmContainer {
  position: absolute;
  left: 10px;
  top: 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  z-index: 100000;
}

@mixin mmWindow {
  width: 360px;
  height: 620px;
  position: relative;
  display: flex;
}

.mmPopup {
  @include mmWindow();
}

.mmNotification {
  @include mmWindow();
  width: 360px;
  height: 620px;
  position: relative;
  display: flex;
}

.overlayToggleHint {
  padding: 10px;
  display: inline-block;
  white-space: pre-line;
  max-width: 600px;
}

.bgFilter {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.closeOverlayText {
  position: absolute;
  top: var(--space-md);
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}