.caption {
  height: 50px;
  width: 200px;
  background-color: rgba(255, 0, 0, 0.25);
}

.mmPopupContainer {
  position: relative;
  height: 100%;
  width: 100%;
}

.mmPopup {
  width: 360px;
  height: 620px;
  position: relative;
  display: flex;
}

.overlayContainer {
  position: relative;
  height: 100vh;
  width: 100vw;
}