.dmItemList {
  background-color: var(--color-neutral-800);
  border-radius: var(--space-sm-fixed);
  margin: var(--space-3xs) 0px;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  -webkit-border-vertical-spacing: 0px;
  -webkit-border-horizontal-spacing: 0px;

  tr:first-child {
    background-color: var(--color-neutral-700);
    th {
      padding: var(--space-sm-fixed) 0px;
      color: var(--color-neutral-400);

      &:first-child {
        border-top-left-radius: var(--space-sm-fixed);
      }

      &:last-child {
        border-top-right-radius: var(--space-sm-fixed);
      }
    }
  }

  tr > td {
    padding: var(--space-sm-fixed) var(--space-2lg-fixed);
    color: var(--color-neutral-200);
    vertical-align: middle;
  }
}
