.SearchBar {
  grid-area: search;
  width: 48px;
  position: relative;
  display: inline-flex;
  border-radius: var(--space-3xs);
  padding: var(--space-3xs);
  background: none;
  transition: 250ms;
  border-radius: 1000px;
}

div.SearchBar:has(*:focus),
div.SearchBar:has(input:not(:placeholder-shown)) {
  width: 500px;
  background: var(--color-neutral-800);
}

div.SearchBar:has(*:focus) > button,
div.SearchBar:has(input:not(:placeholder-shown)) > button {
  border: transparent;
}

.autoComplete {
  position: absolute;
  top: 100%;
  max-height: 200px;
  width: 100%;
  background-color: var(--color-neutral-800);
  overflow: auto;
  list-style: none;
  margin: -2px -4px;
  display: none;
  padding: var(--space-xs) var(--space-md);
  text-align: left;
  overflow-x: hidden;
  z-index: 1000;
  border-radius: var(--space-sm);
}

.SearchBar:focus-within ul.autoComplete {
  display: block;
}

.autoComplete li {
  padding: var(--space-sm);
}

.autoComplete li:hover {
  background-color: var(--color-neutral-600);
  color: var(--color-neutral-100);
  border-radius: var(--space-sm);
  cursor: pointer;
}

.searchButton {
  padding: var(--space-2xs) var(--space-2xs) 0 var(--space-2xs);
}

.clearSearchButton {
  padding-right: var(--space-md);
  transition: color 250ms;
  background: transparent;
  border: none;
  color: var(--text-secondary);
}

.searchBarInput {
  width: 100%;
  appearance: none;
  background: transparent;
  font: var(--font-secondary-bold);
  color: var(--text-secondary);
  padding: 0 var(--space-lg);
  border: none;
  outline: none;
  transition: color 250ms;
}
