.SearchBar {
  grid-area: search;
  width: 48px;
  position: relative;
  display: inline-flex;
  border-radius: var(--space-3xs);
  padding: var(--space-3xs);
  background: none;
  transition: 250ms;
  border-radius: 1000px;
  width: 248px;
  background: var(--color-neutral-800);
}

div.SearchBar:has(*:focus) > button,
div.SearchBar > button {
  border: transparent;
}

.autoComplete {
  position: absolute;
  top: 32px;
  left: 0;
  color: var(--text-color-001);
  background: var(--color-neutral-900);
  z-index: 100;
  max-height: 200px;
  width: 248px;
  overflow: auto;
  display: none;
  list-style: none;
  text-align: left;
  overflow-x: hidden;
  border: solid 1px var(--color-stroke-01);
  border-radius: 8px;
  padding-left: 0;
  font-size: var(--text-md);

  li {
    padding: var(--space-2xs) var(--space-sm);
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      background: var(--color-neutral-700);
    }
  }
}

div.SearchBar:focus-within > .autoComplete {
  display: block;
}

.searchButton {
  padding: var(--space-2xs) var(--space-2xs) 0 var(--space-2xs);
}

.clearSearchButton {
  padding-right: var(--space-md);
  transition: color 250ms;
  background: transparent;
  border: none;
  color: var(--text-secondary);
}

.searchBarInput {
  width: 100%;
  appearance: none;
  background: transparent;
  font: var(--font-secondary-bold);
  color: var(--text-secondary);
  padding: 0 var(--space-lg);
  border: none;
  outline: none;
  transition: color 250ms;
}
