.downloadManagerContainer {
  position: absolute;
  bottom: 120px;
  right: 40px;
  width: 400px;
  z-index: 10000;
}

.downloadManagerIcon {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 1000;
}
