.downloadManagerContainer {
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: 400px;
  z-index: 10000;
}

.downloadManagerIcon {
  position: absolute;
  bottom: 5%;
  right: 5%;
  z-index: 1000;
}
