.container {
  padding-top: var(--space-2lg);
}

.warningAlert {
  display: flex;
  align-items: flex-start;
  gap: var(--space-xs);
  color: var(--text-error);

  &:hover {
    color: var(--color-error-300);
  }
}

.warningAlertIcon {
  width: var(--space-2lg);
  height: var(--space-2lg);
  background-color: transparent;
}
