.toolsWrapper {
  display: flex;
  cursor: pointer;
  justify-content: flex-start;
  max-width: fit-content;
  gap: var(--space-md);

  .drag {
    font-family: var(--font-secondary-regular);
    font-size: var(--text-md);
    line-height: 19px;
    text-decoration: underline;
    transition: 350ms;
    flex-direction: column;
    text-decoration: none;
    white-space: nowrap;

    & > span {
      transition: 350ms;
      font-size: var(--text-xs);
      font-style: italic;
      color: var(--text-secondary);
      text-decoration: none;
    }
  }
}
