.statusImg {
  margin: auto;
}

.rejectedSubtext {
  margin-top: var(--space-md) 0;
}

.title {
  margin-bottom: var(--space-md);
  align-self: center;
}

.description {
  color: var(--color-neutral-200);
  align-self: center;
  text-align: center;
}

.actionButton {
  margin: 0px auto;
}
.actionButton button {
  min-width: 184px;
  border-radius: var(--space-xs);
}
