.centerSidebarItem {
  align-items: flex-end;
}

.identicon {
  border-radius: var(--space-3xl);
}

.connectedStatus {
  color: var(--tertiary-01-100);
}

.disconnectedStatus {
  color: var(--error);
}

.walletAccountText {
  color: var(--regular-01-50);
}

.disconnectedImg {
  width: 2.125em;
}
