.gameListLayout {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  min-height: 2vh;
  min-width: 80vw;
}
.gameList {
  color: var(--text-secondary);
  display: grid;
  /* grid auto-fill cannot use intrinsic sizing so we hardcode the px value */
  grid-template-columns: repeat(auto-fill, 216px);
  grid-gap: 1.5rem;
  padding: 0;
  margin: var(--space-md) 0;
}

.gameList.firstLane {
  padding: 0 var(--space-md-fixed) var(--space-md-fixed);
}
