.gameListLayout {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  min-height: 2vh;
  min-width: 80vw;
}
.gameList {
  color: var(--text-secondary);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(156px, 1fr));
  grid-gap: 1.5rem;
  padding: 0 var(--space-md-fixed);
  margin: var(--space-md) 0;
}

.gameList.firstLane {
  padding: 0 var(--space-md-fixed) var(--space-md-fixed);
}
