.tabsWrapper {
  display: flex;
  justify-content: flex-start;
  padding-top: var(--space-xs);
  width: 100%;
  align-items: flex-start;

  .FormControl__button {
    width: fit-content;
    cursor: pointer;

    &:hover {
      color: var(--accent);
    }
  }

  .MuiTabs-root {
    .MuiTabs-scroller {
      .MuiTabs-indicator {
        background-color: var(--accent);
      }

      .MuiTabs-flexContainer {
        .MuiTab-root {
          color: var(--text-default);
        }

        .Mui-selected {
          color: var(--accent);
        }
      }
    }
  }
}

.wineList {
  margin-top: 48px;
  min-width: 100%;

  .gameListHeader {
    display: grid;
    grid-template-columns: 4fr 2fr 2fr 1fr;
    margin: 0 var(--space-xl-fixed);

    span:last-child {
      justify-self: center;
    }
  }
}
