.browserGame {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
}

.txnToastContainer {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 100000;
  opacity: 90%;
}

.overlayContainer {
  position: relative;
  width: 100%;
  height: 100%;
}
