.SIDLoginModal {
  position: absolute;
  top: 0%;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 6;
  text-align: center;
}

.SIDLoginModal {
  width: var(--content-width);
}

.backdrop {
  position: absolute;
  top: 0%;
  left: 0;
  right: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(2px);
  z-index: 6;
}

.sid-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  place-items: center;
  min-width: fit-content;
  background: var(--background-darker);
  border-radius: 10px;
  width: 48vw;
  max-width: 560px;
  z-index: 7;
  padding: var(--space-2xl);
  height: fit-content;
  min-height: 225px;
  border: solid 1px var(--background);
  overflow: auto;
  max-height: 100vh;
  font-size: var(--text-lg);
}

.loginInstructions > strong {
  color: var(--text-hover);
  font-size: var(--text-4xl);
}

.loginInstructions .epicLink {
  color: var(--text-hover);
  cursor: pointer;
}
.loginInstructions .epicLink:hover {
  color: var(--link-highlight);
}

.loginInstructions .material-icons {
  color: var(--link-highlight);
}

.loginInstructions li {
  text-align: left;
  margin: calc(0.5 * var(--space-xs)) 0;
}
.loginInstructions ol {
  padding: 0px;
}

.sid-modal > .sid-input {
  color: var(--text-secondary);
  font-size: var(--text-md);
  padding: var(--space-2xs);
  background-color: var(--background-lighter);
  border: none;
  height: 40px;
  width: 60%;
  border-radius: var(--space-3xs);
  margin-bottom: var(--space-md);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  font-family: var(--primary-font-family);
}

.SIDLoginModal .message > .material-icons {
  color: var(--text-hover);
  animation: 2s refreshing;
  animation-iteration-count: infinite;
}

.sidLoginButton {
  text-align: center;
}

div.sidLoginButton > div > button {
  width: 100px;
  box-sizing: none;
  margin: 100px;
  align-items: center;
}
