.InstallModal__dialog {
  width: 38vw;
  height: fit-content;
  min-width: fit-content;
  max-height: 95vh;
}

.InstallModal__dialog--loading {
  width: 200px;
  height: 200px;
}

.InstallModal__platformIcon {
  margin-left: 16px;
}

.InstallModal__sizes {
  display: inline-grid;
  grid-gap: 24px;
  grid-auto-flow: column;
  margin: var(--space-xs) 0;
}

.InstallModal__size {
  display: inline-grid;
  grid-template-areas: 'icon label' 'icon value';
}

.InstallModal__sizeIcon {
  grid-area: icon;
  align-self: center;
  height: 28px;
  margin-right: var(--space-md);
  color: var(--text-secondary);
}

.InstallModal__sizeLabel {
  grid-area: label;
  line-height: 20px;
  color: var(--text-secondary);
}

.InstallModal__sizeValue {
  grid-area: value;
  line-height: 24px;
}

.InstallModal__sectionHeader {
  margin: var(--space-md) 0;
  color: var(--text-secondary);
}

.InstallModal__toggle {
  display: flex;
  align-items: center;
  margin: var(--space-md) 0;
  cursor: pointer;
}

.InstallModal__toggle .switch {
  margin: 0 var(--space-xs) 0 var(--space-sm);
  transform: scale(1.5) translateX(33%);
}

.InstallModal__dlcs,
.InstallModal__sdls {
  margin: 0 var(--space-md);

  .InstallModal__toggle--sdl {
    padding: 0 !important;
  }
}

.InstallModal__dlcsList {
  max-width: 300px;
  color: var(--text-default);
}

.sideloadForm {
  padding-left: var(--space-xs);
}
