.title {
  align-self: center;
  margin-bottom: var(--space-xs);
}

.caption {
  color: var(--color-neutral-300);
  margin-bottom: var(--space-lg);
}

.getWalletText {
  color: var(--color-neutral-300);
  margin: auto auto var(--space-sm);
}

.getWalletText > a {
  color: var(--color-primary-200);
}

.getWalletText > a:hover {
  color: var(--color-primary-300);
  transition: 0.2s;
}

.walletWarning {
  color: var(--color-status-alert);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-2xs-fixed);

  svg path {
    fill: var(--color-status-alert);
  }
}

.otp {
  margin: 0 auto;
}
