name: Build

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  workflow_dispatch:

env:
  GITHUB_TOKEN: ${{ secrets.WORKFLOW_TOKEN }}
  GH_TOKEN: ${{ secrets.WORKFLOW_TOKEN }}
  RUDDERSTACK_CLIENT_ID: ${{ secrets.RUDDERSTACK_CLIENT_ID }}

jobs:
  build_windows:
    runs-on: ubuntu-latest
    concurrency:
      group: build-windows-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: Checkout repository.
        uses: actions/checkout@v3
        with:
          submodules: 'recursive'
          token: ${{ secrets.pat }}
      - name: Setup NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      - name: Reconfigure git to use HTTP authentication
        run: >
          git config --global url."https://github.com/".insteadOf
          ssh://git@github.com/
      - name: Authenticate with private NPM package
        run: echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" > ~/.npmrc
      - name: Install modules.
        run: yarn setup
      - name: Build artifacts.
        run: yarn dist:win
      - name: Upload EXE.
        uses: actions/upload-artifact@v3
        with:
          name: win-setup
          path: dist/HyperPlay*.exe
          retention-days: 14
  build_linux:
    runs-on: ubuntu-latest
    concurrency:
      group: build-linux-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: Install libarchive-tools for pacman build # Related https://github.com/electron-userland/electron-builder/issues/4181
        run: sudo apt-get install libarchive-tools
      - name: Checkout repository.
        uses: actions/checkout@v3
        with:
          submodules: 'recursive'
          token: ${{ secrets.pat }}
      - name: Setup NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      - name: Reconfigure git to use HTTP authentication
        run: >
          git config --global url."https://github.com/".insteadOf
          ssh://git@github.com/
      - name: Authenticate with private NPM package
        run: echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" > ~/.npmrc
      - name: Install modules.
        run: yarn setup
      - name: Build deb artifact
        run: yarn dist:linux:ci:deb
      - name: Build rpm artifact
        run: yarn dist:linux:ci:rpm
      - name: Build pacman artifact
        run: yarn dist:linux:ci:pacman
  build_mac:
    runs-on: macos-13
    concurrency:
      group: build-mac-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: Checkout repository.
        uses: actions/checkout@v3
        with:
          submodules: 'recursive'
          token: ${{ secrets.pat }}
      - name: Setup NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      - name: Reconfigure git to use HTTP authentication
        run: >
          git config --global url."https://github.com/".insteadOf
          ssh://git@github.com/
      - name: Authenticate with private NPM package
        run: echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" > ~/.npmrc
      - name: Install modules.
        run: yarn setup
      - name: Build artifacts.
        run: yarn dist:mac
        env:
          NOTARIZE: false
      - name: Upload Intel build.
        uses: actions/upload-artifact@v3
        with:
          name: mac-dmg-Intel
          path: dist/HyperPlay*x64.dmg
          retention-days: 14
      - name: Upload M1/M2.
        uses: actions/upload-artifact@v3
        with:
          name: mac-dmg-M1-M2
          path: dist/HyperPlay*arm64.dmg
          retention-days: 14
