name: Lint

on:
  pull_request:
    branches: [main, beta]
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: Reconfigure git to use HTTP authentication
        run: >
          git config --global url."https://github.com/".insteadOf
          ssh://git@github.com/
      - name: Install modules.
        run: yarn
      - name: Lint code.
        run: yarn lint
      - name: Prettier code.
        run: yarn prettier
