name: Build and Release macOS HP version

on:
  push:
    branches: [main, ci/apple_certificate]
  workflow_dispatch:

env:
  CSC_IDENTITY_AUTO_DISCOVERY: true
  CSC_LINK: ${{ secrets.CSC_LINK }}
  CSC_KEY_PASSWORD: ${{ secrets.CSC_KEY_PASSWORD }}
  APPLE_ID: ${{ secrets.APPLEID }}
  APPLE_APP_SPECIFIC_PASSWORD: ${{ secrets.APPLEIDPASS }}
  TEAMID: ${{ secrets.TEAMID }}
  GH_TOKEN: ${{ secrets.WORKFLOW_TOKEN }}

jobs:
  build-and-release:
    runs-on: macos-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          submodules: 'recursive'
          token: ${{ secrets.pat }}

      - name: Install dependencies
        run: yarn install

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Build artifacts.
        run: yarn dist:mac --publish=never

      - name: Upload ARM64.
        uses: actions/upload-artifact@v3
        with:
          name: mac-dmg-arm64
          path: dist/HyperPlay*arm64.dmg
          retention-days: 14
