.gridItems {
  height: 100%;
}

.storeCard {
  flex-grow: 1;
  gap: var(--space-2lg);
  width: 100%;
  border-radius: var(--space-md);
  background: var(--color-neutral-800);
  padding: var(--space-2lg);
}

.storeTitle {
  font-size: 1.5em;
  margin-bottom: var(--space-xl-fixed);
}

.fullHeight {
  height: 100%;
}

.achievementTable > div:first-child {
  height: 100%;
  border-radius: var(--space-md);
}
